<!-- <link rel="Stylesheet" href="/css/userProfile.css"> -->
<img src="<%=userProfile.avatar%>" alt="<%=userProfile.avatar%>" width="100">
<%if(user.id == userProfile.id){%>
    <form action="/users/update/<%=userProfile.id%>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="Your Name" value="<%=userProfile.name%>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%=userProfile.email%>" required>
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>
<%}else{%>
    <div class="container">
        <p><%=userProfile.name%></p>
        <p><%=userProfile.email%></p>
    </div>
<%}%>